<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container">
	<div class='row'>
		<div class="col-xs-3">
			<%= render 'shared/userinfo', user: current_user %>
			<%= render 'books/form', book: @book %><!--book投稿formの表示-->
		</div>

		<div class="col-xs-9">
			<% if user_signed_in? %>
				<h2>Users</h2>
				<table class="table">
					<thead>
						<tr>
							<th>image</th>
							<th>name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |user|%>
						<tr>
							<td><%= attachment_image_tag user, :profile_image, format: 'jpeg', class: " profile-img", fallback: "no_image.jpg", size:'50x50' %></td>
							<td><%= user.name%></td>
							<td><%=link_to 'Show', user_path(user.id) %></td>
						</tr>
						<%end%>
					</tbody>
				</table>
			<% else %>
				<p>ログインされていない</p>
			<%end%>
		</div>
	</div>
</div>